:root {
    --spacing-narrow: 0.75rem;
    --spacing-normal: 1.25rem;
    --spacing-wide: 2.25rem;
    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1rem;
    --spacing-4: 2rem;
    --spacing-5: 4rem;
    --spacing-6: 8rem;
    --spacing-7: 16rem;
    --spacing-8: 32rem;
    --height-small: 1.9219rem;
    --height-medium: 2.2813rem;
    --height-large: 2.75rem;
    --height-x-large: 3.4375rem;
    --box_header--height: 3.5rem;
    --width: 79.5rem;
    --width-wide: 120rem;
    --transfer-min-width: 28rem;
    --dao-sidebar-width: 15rem;
    --header-height: 78px;
    --top-nav-height: 43px;
    --top-nav-bottom: 44px;
    --footer-height: 325px;
    --header-footer-height: 347px;
    --hero-height: 21.25rem;
    --z-index-select-dropdown: 999;
    --z-index-modal: 101;
    --z-index-page-settings: 100;
    --z-index-chip: 99;
    --z-index-icon-tooltip: 99;
    --z-index-overlay: 99;
    --z-index-page-nav: 98;
    --z-index-main-content-scrolled: 97;
    --z-index-page-nav-scrolled: 96;
    --z-index-page-mobile-nav: 1;
    --z-index-stepper: 1;
    --z-index-tab: 1;
    --z-index-tooltip: 1;
    --font-size-0: 0.625rem;
    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.125rem;
    --font-size-5: 1.375rem;
    --font-size-6: 1.625rem;
    --font-size-7: 1.875rem;
    --font-size-8: 2.125rem;
    --font-size-9: 2.375rem;
    --font-size-10: 2.5rem;
    --font: system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-mono: monospace;
    --font-display: "Commodore",monospace;
    --bold: 700;
    --semi-bold: 500;
    --normal: 400;
    --primary-100: #030a16;
    --primary-200: #0f2a61;
    --primary-300: #153c8a;
    --primary-400: #1763fd;
    --primary-400a10: #1763fd1a;
    --primary-400a20: #1763fd33;
    --primary-400a50: #1763fd80;
    --primary-400l10: #024cde;
    --primary-500: #6c9dfe;
    --primary-600: #d1e0ff;
    --primary-700: #fafcff;
    --gray-100: #0c0c0e;
    --gray-200: #33363d;
    --gray-300: #484d56;
    --gray-400: #7f8694;
    --gray-400a20: #7f869433;
    --gray-500: #aeb3bc;
    --gray-500a20: #aeb3bc33;
    --gray-500a25: #aeb3bc40;
    --gray-600: #e6e7ea;
    --gray-700: #fcfcfd;
    --danger-400: #ea3941;
    --danger-600: #fbd5d7;
    --success-400: #087e01;
    --success-600: #d4ffd2;
    --warning-400: #dfb316;
    --info-400: #5c92ff;
    --black: #000;
    --blacka05: #0000000d;
    --blacka25: #00000040;
    --blacka80: #000c;
    --blackl01: #030303;
    --blackl05: #0d0d0d;
    --blackl10: #1a1a1a;
    --blackl20: #333;
    --blackl30: #4d4d4d;
    --white: #fff;
    --whitea10: #ffffff1a;
    --whitea20: #fff3;
    --whitea60: #fff9;
    --whitel05: #f2f2f2;
    --whitel62: #9e9e9e;
    --whitel72: #b8b8b8;
    --whitel85: #d9d9d9;
    --whitel92: #ebebeb;
    --whitel98: #fafafa;
    --page--text-color: var(--text-400);
    --page--background-color: var(--whitel05);
    --layout--home--background-color: var(--whitel98);
    --font-weight--bold: var(--bold);
    --font-weight--semi-bold: var(--semi-bold);
    --font-weight--normal: var(--normal);
    --active--background-color: var(--gray-400a20);
    --active--border-color: var(--primary-400);
    --active_filled--color: var(--white);
    --active_filled--background-color: var(--primary-400);
    --border-400: var(--gray-500);
    --border-600: var(--gray-500a25);
    --focus: var(--primary-400);
    --link-400: #266efd;
    --text-400: #22262a;
    --text-600: var(--gray-700);
    --text_dark_background-400: #22262a;
    --box--primary--color: var(--text-400);
    --box--primary--background-color: #ededed;
    --box--primary--background: #ededed;
    --box--primary--shadow-color: #5d6369;
    --box--primary--content--background-color: #fff;
    --box--primary--content--shadow-color: #cacdd3;
    --box_header--border: 3px solid var(--border-400);
    --box_header--primary--background-color: var(--whitel85);
    --box_header--font-size: var(--font-size-4);
    --box_header--font-weight: var(--bold);
    --box--secondary--background-color: var(--layout--home--background-color);
    --box--secondary--border: 1px solid var(--border-600);
    --box--secondary--content--background-color: var(--border-600);
    --box_action--button--font-size: var(--font-size-4);
    --box_action--button--text-transform: initial;
    --box_action--button--loading--color: #5d8ef9;
    --box_action--button--loading--background-color: #c8d2f4;
    --box_action--button--loading--shadow-color: #a7bef6;
    --button--color: var(--primary-700);
    --button--background-color: var(--primary-400);
    --button--border-color: var(--primary-400);
    --button--disabled--color: var(--gray-400);
    --button--disabled--border-color: var(--gray-500);
    --button--disabled--background-color: var(--gray-500);
    --button--disabled_spinner--background-color: var(--gray-500a20);
    --button--font: var(--font);
    --button--font-weight: var(--bold);
    --button--shadow-color: var(--primary-300);
    --button--text-transform: initial;
    --button_filled--active--background-color: var(--white);
    --button_filled--hover--background-color: var(--primary-400l10);
    --button_outlined--color: var(--text-400);
    --button_outlined--border-color: var(--border-400);
    --button_outlined--hover--color: var(--primary-400);
    --button_outlined--hover--background-color: var(--primary-400a10);
    --button_icon--hover--color: var(--primary-400);
    --button_icon--hover--background-color: var(--primary-400a10);
    --button_text--color: var(--primary-400);
    --button_text--hover--color: var(--primary-400);
    --checkbox--active--background-color: var(--primary-400);
    --checkbox--background-color: var(--white);
    --checkbox--border-color: var(--border-400);
    --chip--color: var(--text-400);
    --dialog--background-color: var(--page--background-color);
    --dialog--border-color: var(--border-400);
    --dropdown--active--color: var(--white);
    --dropdown--active--background-color: var(--primary-400);
    --dropdown--color: var(--text-400);
    --dropdown--background-color: var(--white);
    --dropdown--hover--color: var(--text-400);
    --dropdown--hover--background-color: var(--primary-400a10);
    --dropdown_button--color: var(--text-400);
    --footer--color: var(--gray-500);
    --footer--background-color: var(--gray-300);
    --footer--hover-color: var(--gray-600);
    --input--color: var(--text-400);
    --input--background-color: var(--white);
    --input--border: 1px solid var(--gray-300);
    --input--border-color: var(--gray-300);
    --input--disabled--color: #7c8083;
    --input--font-size: var(--font-size-4);
    --input_button--color: var(--gray-300);
    --input_button--border-color: var(--whitel85);
    --input_button--hover--color: var(--text-400);
    --input_button--hover--background-color: var(--whitel05);
    --input_button--font-size: var(--font-size-4);
    --input_button--text-transform: initial;
    --link--color: var(--link-400);
    --link--active-color: var(--primary-400);
    --link--active--background-color: var(--primary-400a10);
    --link--font: var(--font);
    --link--font-weight: var(--semi-bold);
    --link--hover--color: var(--primary-400);
    --link--underline--color: var(--primary-400a20);
    --link--underline--hover-color: var(--primary-400);
    --link_contained--color: var(--primary-400);
    --link_contained--background-color: var(--primary-400a10);
    --link_contained--underline-color: var(--primary-400);
    --link_light--color: var(--whitel72);
    --link_light--hover--color: var(--white);
    --nav--color: var(--text-400);
    --nav--border-color: var(--border-400);
    --nav--page--color: var(--white);
    --nav_button--border-color: var(--gray-500);
    --nav_button--hover--color: var(--primary-400);
    --nav_link--active--hover--color: var(--primary-400);
    --nav_link--active--hover--background-color: var(--primary-400a10);
    --nav_link--hover--color: var(--primary-400);
    --nav_link--hover--background-color: var(--primary-400a10);
    --nav_logo--color: var(--text-400);
    --radio--active--border-color: var(--primary-400);
    --radio--background-color: var(--white);
    --radio--border-color: var(--border-400);
    --radio--selected--border-color: var(--primary-400);
    --radio--selected--background-color: var(--primary-400);
    --skeleton--background-color: #d9d9d9;
    --skeleton--background-image: linear-gradient(90deg,#f2f2f21a,#f2f2f233,#f2f2f24d,#f2f2f21a);
    --spinner--foreground-color: var(--white);
    --spinner--background-color: var(--primary-400a50);
    --summary_header--background-color: #e8e8e8;
    --summary_header--loading--background-color: #e8e8e8cc;
    --summary_header--border-color: #b5b5b5;
    --summary_content--background-color: #f2f2f2;
    --summary_content--loading--background-color: #f2f2f2cc;
    --summary_content--border-color: #e8e8e8;
    --tab--color: var(--text-400);
    --tab--background-color: var(--whitel85);
    --tab--border-color: var(--border-400);
    --table--background-color: var(--white);
    --table_box_loader--background-color: var(--whitea60);
    --table_detail--background-color: var(--blacka05);
    --table_detail_row--active--color: var(--text-400);
    --table_detail_row--active--background-color: var(--border-400);
    --table_row--hover--color: var(--border-600);
    --table_head--font: var(--font);
    --table_head--font-weight: var(--semi-bold);
    --tooltip--color: var(--white);
    --tooltip--background-color: var(--black);
}
